<!DOCTYPE html>
<html>
<head>
    <title>Home Page</title>
</head>
<body>
    <h1>Welcome to the Home Page</h1>
    <p>This is a basic EJS template.</p>
    <%= title %>
    <h1> welcome to my page12345788</h1>
</body>
</html>